<h1>Welcome to SuperFeed!</h1>
<h4>Add your feed below</h4>
<%= link_to "Add your Github", "/auth/github" %>
<br>
<%= link_to "Add your Twitter", "/auth/twitter" %>
<br>
<%= link_to "Add your LinkedIn", "/auth/linkedin" %>
