<% if logged_in? %>
  <p>Logged in as <%= current_user.name %></p>

  <% if @repos %>
    <ul>
      <% @repos.each do |repo| %>
        <li><%= link_to repo['full_name'], repo['html_url'] %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <%= link_to "Log in via GitHub", "/auth/github" %>
<% end %>
